.store-name {
    font-weight: bold;
}
.store {
    font-size: x-large;
    margin: 0;
    margin-bottom: 4%;
    @media (max-width: 999px) {
        font-size: large;
    }
   a {
       text-decoration: none;
       color: #000000;
   }
}
.map-desktop {
    @media (max-width: 999px) {
        display: none;
    }
    margin-bottom: 2%;
}
.map-tablet {
    @media (min-width: 999px), (max-width: 560px){
        display: none;
    }
}
.map-mobile {
    @media (min-width: 560px) {
        display: none;
    }
    ymaps {
        margin: auto;
    }
}