$bgcolor: #EFEBEB;

nav {
    background-color: black;
    ul {
        li {
            list-style-type: none;
            display: inline-block;
                a {
                    display: inline-block;
                    font-family: 'Cormorant Garamond', serif;
                    color: white;
                    font-size: x-large;
                    text-decoration: none;
            }
        }
    }
}

.flex {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-around;
}

header {
    margin-top: 2%;
}
#logotype {
    display: block;
    margin: auto;
    margin-bottom: 2%;
}
body {
    background: linear-gradient(to right, $bgcolor, #EED1D1);
}
 
button {
    border-radius: 100%;
    border: none;
    height: 60px;
    padding-right: 33px;
    width: 60px;
    outline: none;
    background: rgba($color: $bgcolor, $alpha: 0.5);
    position: absolute;
    top: 60%;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s ease-in-out;
    &:hover {
    background: #7c7c7c6b;
    }
}

#slider {
    display: block;
    margin: auto;
}
#prev {
    left: 70px;
}
#next {
    right: 70px;
}