$bgcolor: #efebeb;
$footer-color: #F5CDCD;
$font: 'Cormorant Garamond', serif;
$font-main: 'Forum', cursive;

.navigation-first {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bgcolor;
    z-index: 1;
    ul {
        margin-left: 2%;
        li {
            list-style-type: none;
            display: inline-block;
            width: 12%;
                a {
                    display: block;
                    height: 5px;
                    color: black;
                    font-size: large;
                    font-weight: bold;
                    text-decoration: none; 
            }
        }
    }
}

.navigation-second {
    background-color: black;
    ul {
        li {
            list-style-type: none;
            display: inline-block;
                a {
                    display: inline-block;
                    color: white;
                    font-size: x-large;
                    text-decoration: none;
            }
        }
    }
}

header {
    margin-top: 5%;
}
.flex-first {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-second {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-around;
}

#search {
    width: 300px;
    float: right;
}
.search {
    position: absolute;
    top: 0;
    right: 3%;
    width: 220px;
    font-family: $font-main;
}
.search-button {
    position: absolute;
    top: 3px; 
    height: 30px;
    width: 30px;
    background-color: azure;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.2s ease-in-out;
    &:hover {
    background: #7c7c7c6b;
    }
}
#logotype {
    display: block;
    margin: auto;
    margin-bottom: 2%;
}
body {
    background: linear-gradient(to right, $bgcolor, #EED1D1);
    font-family: $font-main;
}
header, footer, .navigation-first {
    font-family: $font;
}

footer {
    border-top: 1px solid rgba($color: gray, $alpha: 0.5);
    padding-top: 2%;
    background-color: rgba($color: $footer-color, $alpha: 0.5);
    font-family: $font;
}

.navigation-footer {
    ul {
        list-style-type: none;
        font-weight: bold;
        font-size: large;
        a {
            display: block;
            text-decoration: none;
            color: rgba($color: #000000, $alpha: 0.7);
        }
    }
}