.navigation-first {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #efebeb;
  z-index: 2;
}

.navigation-first ul {
  margin-left: 2%;
}

.navigation-first ul li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
}

.navigation-first ul li a {
  display: block;
  height: 5px;
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.navigation-second {
  background-color: black;
}

.navigation-second ul li {
  list-style-type: none;
  display: inline-block;
  height: 40px;
}

.navigation-second ul li a {
  vertical-align: middle;
  display: inline-block;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.navigation-second ul li a::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #efebeb;
  text-decoration: underline;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.navigation-second ul li a:hover::after, .navigation-second ul li a:focus::after {
  display: block;
  width: 100%;
  color: #EED1D1;
}

header {
  margin-top: 5%;
}

#search {
  width: 300px;
  float: right;
}

.search {
  position: absolute;
  top: 0;
  right: 3%;
  width: 220px;
  font-family: "Forum", "Alegreya Sans", cursive;
}

.products {
  margin-bottom: 2%;
}

.products a {
  text-decoration: none;
  color: currentColor;
  font-size: calc(12px + (12 + 12 * 0.7) * ((100vw - 320px) / 1199));
}

.products img {
  will-change: transform;
  -webkit-transition: -webkit-transform 3s ease-out;
  transition: -webkit-transform 3s ease-out;
  transition: transform 3s ease-out;
  transition: transform 3s ease-out, -webkit-transform 3s ease-out;
  max-width: 115%;
  max-height: 240px;
  width: auto;
  height: auto;
}

.products img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products div span {
  position: relative;
  z-index: 1;
  top: 50px;
  left: 23px;
}

.search-button {
  position: absolute;
  top: 3px;
  height: 30px;
  width: 30px;
  background-color: azure;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.search-button:hover {
  background: #7c7c7c6b;
}

h3 {
  text-align: center;
}

.slider {
  position: relative;
  margin-bottom: 3%;
}

.slider #slider {
  max-width: 100%;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: 1;
}

.slider button {
  border-radius: 100%;
  border: none;
  height: 60px;
  padding-right: 33px;
  width: 60px;
  outline: none;
  background: rgba(239, 235, 235, 0.5);
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.slider button:hover {
  background: #7c7c7c6b;
}

.flex-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#logotype {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#efebeb), to(#EED1D1));
  background: linear-gradient(to right, #efebeb, #EED1D1);
  font-family: "Forum", "Alegreya Sans", cursive;
}

header, footer, .navigation-first {
  font-family: "Poiret One", "Merriweather", "Mulish", cursive;
}

.about {
  font-size: large;
  font-weight: bolder;
}

#slider {
  display: block;
  margin: auto;
}

#prev {
  left: 70px;
}

#next {
  right: 70px;
}

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  padding-top: 2%;
  background-color: rgba(245, 205, 205, 0.5);
  font-family: "Poiret One", "Merriweather", "Mulish", cursive;
}

.navigation-footer ul {
  list-style-type: none;
  font-weight: bold;
  font-size: large;
}

.navigation-footer ul a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=home.css.map */